* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.hero {
  background-color: #1f2937;
  height: 525px;
  padding: 20px 200px 20px 200px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 150px 0px;
}
.top {
  width: 450px;
  height: 250px;
}
.top-img {
  color: #e5e7eb;
  height: 250px;
  width: 525px;
  background-color: hsl(220, 13%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctabutton {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  border-radius: 0.6rem;
  font-weight: 900;
  margin-top: 15px;
  width: 130px;
  height: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
}

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.nav-links a:nth-last-of-type(1) {
  padding-right: 0px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  padding-left: 0px;
}
a,
.top p {
  font-size: 18px;
  color: hsl(220, 13%, 70%);
}
a {
  text-decoration: none;
  padding: 0 10px;
}
.topbox {
  display: flex;
  justify-content: center;
}
.topboxtext {
  display: flex;
  justify-content: center;
}

.box {
  width: 170px;
  height: 170px;
  border: 4px solid #3882f6;
  margin: 0 25px;
  border-radius: 0.8rem;
}

.boxtext {
  width: 170px;
  height: 170px;
  margin: 0 25px;
  font-size: 18px;
  color: #1f2937;
  border: 4px solid white;
  padding: 5px 0;
}

.info {
  text-align: center;
  margin: 50px 50px 25px 50px;
}

.info h2 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 120px 330px;
}

.author {
  text-align: right;
  font-size: 24px;
  font-weight: 900;
  margin-right: 40px;
}

.bottom {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calltoaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 0.5rem;
  height: 150px;
  width: 54%;
}
.calltoaction h3 {
  font-size: 24px;
  font-weight: 500;
}
.calltoaction p {
  font-size: 18px;
  color: hsl(220, 13%, 82%);
}

.calltoaction button {
  border: 2px solid white;
}

footer {
  background-color: #1f2937;
  color: hsl(220, 13%, 82%);
  font-size: 18px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  text-decoration: underline;
}
.ctabutton:hover {
  background-color: hsl(217, 91%, 45%);
}
